/* Style pour l'AnchorPane */
.anchor-pane {
    -fx-background-color: #f4f4f4; /* Gris clair */
}

/* Style pour le TabPane */
.tab-pane {
    -fx-background-color: #f4f4f4; /* Gris clair */
}

/* Style pour les onglets */
.tab {
    -fx-background-color: #d4d4d4; /* Vert */
}

/* Style pour le VBox */
.v-box {
    -fx-background-color: #d4d4d4; /* Blanc */
}

/* Style pour le GridPane */
.grid-pane {
    -fx-background-color: #ffffff; /* Blanc */
}

/* Style pour le TableView */
.table-view {
    -fx-background-color: #707070; /* Blanc */
}

/* Style pour le ListView */
.list-view {
    -fx-background-color: #707070; /* Blanc */
}



/* Style pour le TextField */
.text-field {
    -fx-background-color: #ffffff; /* Blanc */
}

/* Style pour le ChoiceBox */
.choice-box {
    -fx-background-color: #ffffff; /* Blanc */
}

/* Style pour les Text */
.text {
    -fx-background-color: #FFFF; /* Transparent */
}

/* Style pour les Button */
.button {
    -fx-background-color: #a80000; /* Vert */
}
