.modifierEmploi {
-fx-background-color: #8b1515;
    -fx-background-radius: 50px;
    -fx-text-fill: white;

}

.enregistrerEmploi{
    -fx-background-color: #8b1515;
    -fx-background-radius: 50px;
    -fx-text-fill: white;
}